.blanco {
	list-style-type: none;
	background-color: white;
	color: black;
}

.blanco small {
	color: green;
}

.tabla_blanco {
	background-color: white;
	color: black;
	width: 100%;
}

.tabla_blanco th {
	text-align: center;
}

.rojo:hover {
	color:red;
	text-decoration: none;
}

.verde:hover {
	color:green;
	text-decoration: none;
}

tr:hover, td:hover {
	background-color: #00ff99;
}