<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BaseDatos</display-name>
  <welcome-file-list>
    <welcome-file>inicio</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Servlet de prueba para insertar un nuevo registro en la tabla Test</description>
    <display-name>InsertarServlet</display-name>
    <servlet-name>InsertarServlet</servlet-name>
    <servlet-class>com.ipartek.formacion.basedatos.controllers.InsertarServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>InicioServlet</display-name>
    <servlet-name>InicioServlet</servlet-name>
    <servlet-class>com.ipartek.formacion.basedatos.controllers.InicioServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InicioServlet</servlet-name>
    <url-pattern>/inicio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DAOPersona</display-name>
    <servlet-name>DAOPersona</servlet-name>
    <servlet-class>modelo.DAOPersona</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DAOPersona</servlet-name>
    <url-pattern>/DAOPersona</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataBaseHelper</display-name>
    <servlet-name>DataBaseHelper</servlet-name>
    <servlet-class>modelo.DataBaseHelper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataBaseHelper</servlet-name>
    <url-pattern>/DataBaseHelper</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Persistable</display-name>
    <servlet-name>Persistable</servlet-name>
    <servlet-class>com.ipartek.formacion.basedatos.modelo.Persistable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Persistable</servlet-name>
    <url-pattern>/persistable</url-pattern>
  </servlet-mapping>
</web-app>